<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MalayalamEditor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MalayalamKB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0341C0491A554F690011A6D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0341C0891A5557900011A6D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>035CC3261A51AE9B00A66713</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>035CC33D1A51AE9B00A66713</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
